$border-dark: 1px solid #444 !default;
$border-light: 1px solid #555 !default;
$menu-background-level-2: #eee !default;
$menu-background-level-1: #ccc !default;



.menu {

  width: 100%;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    a + ul {
      display: none;
    }

    ul	{
      border-top: $border-dark;
      background: $menu-background-level-2;

      a {
        padding-left: $grid-base * 5;
      }

      li:last-child {
        border-bottom: 0;
      }

    }

  }

  > ul {
    border-top: $border-dark;
    background: $menu-background-level-1;

    > li > a:hover {
      background-color: black;
      color: white;
    }
  }

  li {
    border-top: $border-light;
    border-bottom: $border-dark;

    li a:hover {
      background-color: #666;
      color: white;
    }
  }

  a {
    display: block;
    text-decoration: none;
    padding: $grid-base ($grid-base * 2);
  }

  .lvl1 {
    &.active {
      background: black;
      color: white;
    }

    &.open + ul {
      display: block;
    }
  }

  lvl2 a.active {
    background: #666;
    color: white;
  }
}


#closeMenu {
  background: #555;
  color: white;
  padding: 5px;
  text-decoration: none;
  position: absolute;
  left: 100%;
  top: 0;
  border-radius: 0 5px 5px 0;
}